<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48263025469-l8dah6oluag844u72cct5kik424bmr7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48263025469-l8dah6oluag844u72cct5kik424bmr7g</string>
	<key>API_KEY</key>
	<string>AIzaSyAhUTYXTaKIzk5AVmxDn710VBnHfHtTuxw</string>
	<key>GCM_SENDER_ID</key>
	<string>48263025469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Osama.folta.SAB-Cars</string>
	<key>PROJECT_ID</key>
	<string>sab-cars-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sab-cars-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48263025469:ios:51140de01115ea1245eb54</string>
</dict>
</plist>